@media only screen and (max-width: 767px) {
  a {
    display: inline-block;
    max-width: 175px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
@media only screen and (max-width: 425px) {
  *{
    font-size: 12px;
  }

}